[submodule "Stockfish"]
	path = Stockfish
	url = https://github.com/official-stockfish/Stockfish.git
[submodule "MultiVariant-Stockfish"]
	path = MultiVariant-Stockfish
	url = git@github.com:ddugovic/Stockfish.git
